{% extends 'base.html' %}
{% block content %}
        <!-- Coming Soon -->
        <div class="coming-soon">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <h2>Bem-vindo ao EventeX!</h2>
                            <p>Você não pode perder essa oportunidade!<br><p>Inscrições abertas, não perca essa oportunidade!</p><br>
                            <p><strong><a class="btn" href="/inscricao/">Inscreva-se já!</a></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

